html, body {
    -webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
}

.slide {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	will-change: transform;

}

#swiper-horizontal {
	position: relative;
	width: 800px;
	height: 600px;
	overflow: hidden;
}

#swiper-horizontal .slide:nth-child(1) {
	background-color: red;
	left: 0;
}

#swiper-horizontal .slide:nth-child(2) {
	background-color: blue;
	left: 100%;
}

#swiper-horizontal .slide:nth-child(3) {
	background-color: yellow;
	left: 200%;
}

#swiper-horizontal .slide:nth-child(4) {
	background-color: green;
	left: 300%;
}


#swiper-vertical {
	position: relative;
	width: 800px;
	height: 600px;
	overflow: hidden;
}

#swiper-vertical .slide:nth-child(1) {
	background-color: red;
	left: 0;
}

#swiper-vertical .slide:nth-child(2) {
	background-color: blue;
	top: 100%;
}

#swiper-vertical .slide:nth-child(3) {
	background-color: yellow;
	top: 200%;
}

#swiper-vertical .slide:nth-child(4) {
	background-color: green;
	top: 300%;
}

/* Simple slider */

#simple-swiper-horizontal {
}

#simple-swiper-horizontal .ratio-swiper {
	position: relative;
	width: 800px;
	height: 600px;
	overflow: hidden;
}

#simple-swiper-horizontal .ratio-swiper .slide:nth-child(1) {
	background-color: red;
}

#simple-swiper-horizontal .ratio-swiper .slide:nth-child(2) {
	background-color: blue;
}

#simple-swiper-horizontal .ratio-swiper .slide:nth-child(3) {
	background-color: yellow;
}

#simple-swiper-horizontal .ratio-swiper .slide:nth-child(4) {
	background-color: green;
}

#simple-swiper-horizontal .ratio-swiper-touch-space {
	width: 800px;
	height: 100px;
	background-color: black;
}

#simple-swiper-horizontal .ratio-swiper-click-space-previous, #simple-swiper-horizontal .ratio-swiper-click-space-next {
	display: none;
}
#simple-swiper-horizontal .ratio-swiper-click-space-previous.active, #simple-swiper-horizontal .ratio-swiper-click-space-next.active {
	display: inline-block;
}


#simple-swiper-horizontal .ratio-swiper-pager-item.active {
	color: red;
}




